name: flutter_mgt_utils
description: "FlutterMgtUtils"
version: 1.0.0

environment:
  flutter: ">=3.22.0"
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^2.3.0
